
pre {
  font-family: "Lucida", monospace; //alternative Lucida, monospace, Courier New;
  position: absolute;
  top: -18px;
  left: 0%;
  font-size: 15px; //movil 8 screen 18 courier / Lucida 17
  line-height: 8px; //movil 5 screen 8px courier / Lucida 8
  letter-spacing: -2px;
  white-space: pre-wrap; // nowrap normal pre-wrap
  word-wrap: break-word; //normal inherit break-word
}
/* Poema */
body {
	font-family: courier; /* courier  inconsolata*/
	margin: 0;
	background: #000;
}
/*div {
	position: relative; 
	overflow: hidden;
	line-height: 0;
}
img {
	width: 100%;
	filter: contrast(100%);
}
p {
	line-height: .6;
	text-align: justify;
	padding: .18vw;
	margin-top: 0;
	font-size: 26px;
	color: #fff;
	background: #000;
	mix-blend-mode: overlay;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}


/* fondo*/
html,
body {
  margin: 20;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: yellow;
}

#ascii-art-1 {
  /* display: block;*/
  display: relative;
  justify-content: space-between; //center / space-evenly space-between
  align-items: flex-start; // stretch , flex-start, center
  white-space: pre;
  width: 100%;
  height: 50%;
  object-fit: cover; // none, contain https://codepen.io/bizzl/pen/LZZrpp
  filter: grayscale(1) brightness(1.9) contrast(1.2);
  transform: rotateY(0deg) scale(1); // transform: rotateY(180deg) scale(1.0);
  color: #ffffff;
  mix-blend-mode: difference; //multiply overlay difference
}

// full screen
#fullscreen {
  all: unset;
  cursor: pointer;
  position: absolute;
  right: -0px;
  bottom: -0px;
  background-color: black;
}
// record screen
#btnrecordscreen {
  //all: unset;
  cursor: pointer;
  position: relative;
  z-index: 2000;
  right: -0px;
  bottom: -0px;
  background-color: black;
} 